{% load static %}
{% block style %}
<style>
  li a p{
    color: #000 !important;
  }
</style>

{% endblock %}
<div class="sidebar" style="background-color: rgb(255, 255, 255) !important;">
    <div class="sidebar-logo">
        <div class="logo-header" style="background-color: #E84E1B !important;">
            <a href="" class="logo">
                <img src="{% static 'admin/assets/img/nepae-logo.png' %}" alt="Nehemia Logo" class="navbar-brand" />
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
                    <a href="{% url 'dashboard' %}">
                        <i class="fas fa-home"></i>
                        <p>Tableau de bord</p>
                    </a>
                </li>

                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                </li>

                <li class="nav-item {% if 'masterclasses' in request.resolver_match.url_name %}active{% endif %}">
                    <a data-bs-toggle="collapse" href="#masterclasses">
                        <i class="fas fa-video"></i>
                        <p>Masterclasses</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="masterclasses">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'liste_masterclasses' %}">
                                    <span class="sub-item">Toutes les masterclasses</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="sub-item">Historique</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item {% if 'reports' in request.resolver_match.url_name %}active{% endif %}">
                    <a data-bs-toggle="collapse" href="#reports">
                        <i class="fas fa-book"></i>
                        <p>Rapports de lecture</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="reports">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'liste_rapports' %}">
                                    <span class="sub-item">Mes rapports</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'soumettre_rapport' %}">
                                    <span class="sub-item">Soumettre un rapport</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item {% if 'messaging' in request.resolver_match.url_name %}active{% endif %}">
                    <a href="{% url 'conversation' %}">
                        <i class="fas fa-envelope"></i>
                        <p>Messagerie</p>
                        <span class="badge badge-success">3</span>
                    </a>
                </li>

                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                </li>

                <li class="nav-item ">
                    <a href="{% url 'inscription' %}">
                        <i class="fas fa-user-plus"></i>
                        <p>Réinscription</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>